:root{
    --activeColor: black;
    --backgroundColor: #ececec;
    --boxBackgroundColor: white;
    --notActiveColor: #a3a3a3;
    --primaryColor: #184043;
    --secondaryColor: #29686E;
    --shadowColor: #c8c8c8;
    --dangerColor: #cc1414;
}